# Git ignores
*.pyc
__pycache__/
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/
.venv/
venv/
ENV/
env/
.env
.dockerignore
docker-compose.yml
*.log
.DS_Store
iptv2lv/tests/fixtures/
